*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(19, 19, 19);
    padding: 20;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

}
body::-webkit-scrollbar{
    overflow: hidden;
}
section{
  position: relative;
  margin: 5%;
}
.main-container{
  width: 100%;
  height: 100%;
  border: solid 1px white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/*-----------------------------section projectlist-----------------------------------------------------------------*/
.projectlist{
    height: 100%;
    width: 30%;
    position: relative;
    top: 5%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-projectlist{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project1, .project2, .project3 ,.project4, .project5{
    height: 8%;
    width: 150%;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
}  

.project1 > p:nth-child(2){
  color: rgb(151, 151, 151);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  display: none;
}
.date, .date2, .date3, .date4, .date5{
  color: rgb(151, 151, 151);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  display: none;
}
.week-tracker-a, .pos-a, .taptop, .riddle-webgame{
  text-decoration: none;
  color: white;
}
.project1:hover .date, .project2:hover .date2, .project3:hover .date3, .project4:hover .date4, .project5:hover .date5{
  display: block;
  position: relative;
  left: 40%;
}
.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover{
  height: 9%;
  width: 155%;
  border-radius: 25px;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 4px 20px -5px rgb(141, 141, 141);
}
.project1:hover .p1p, .project2:hover .p2p, .project3:hover .p3p, .project4:hover .p4p, .project5:hover .p5p{
  transform: translateX(20px);
  color: black;
}


/*-----------------------------section Name/Info-----------------------------------------------------------------*/
.name{
    height: 100%;
    width: 30%;
    position: relative;
    left: -12%;
    bottom: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.name-container{
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jj{
    height: 20%;      
    width: 100%;
    color: white;
    font-size: 1em;
    position: absolute;
    top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
    filter: drop-shadow(0px 0px 20px #0000ff);
    cursor: pointer;
}
.name-container > h1{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0%;
  color: rgb(158, 158, 158);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}

.container-accounts{
    height: 15%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 50%;   
    right: 3%;
}
.container-accounts > a{
    position: relative;
    height: 10%;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(138, 138, 138);
    text-decoration: none;
    cursor: pointer;
}

.jj:hover{
    text-shadow: 0px 0px 10px #0000ff7b, 0px 0px 10px #0000ff7b, 0px 0px 10px #0000ff7b;
}
.name-container-p > h1:hover{
    color: white;
}
.container-accounts > a:hover{
    text-shadow: 
    0 0 10px #e8f5ffd7; 
    color: white;
}
/*-----------code for welcome animation--------*/
.container-imgpfp{
  height: 18%;
  width: 15%; 
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 40%;
  left: 30%;
  visibility: hidden;
}
.container-imgpfp > img{
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 15px;
  visibility: hidden;
  transform: opacity 0.5s ease, transform 0.5s ease;
}

.welcome {
    height: 10%;
    width: 45%;
    position: absolute;
    top: 10%;
    left: 25%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-20px); 
}

.welcome.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}

.welcome.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px); /* Move off-screen */
}
.for-welcome-text {
    display: inline-block;
    color: rgb(225, 225, 225);
    font-size: 3.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: start;
}


.line{
  width: 80%;
  border: solid 1px white;
  position: absolute;
  top: 80%;
  left: 0%;
}
.line2{
  width: 20%;
  border: solid 1px white;
  position: absolute;
  top: 80%;
  left: 81%;
}
.glow{
  position: absolute;
  height: 35%;
  width: 95%;
  top: 25%;
  left: -35; 
  z-index: -1;
}
.glowing-border {
    width: 0.8%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 80%;
    border: solid 1px white;
    border-width: 1px 1px 0px 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
  }
  
  .glowing-border::before {
    content: '';
    position: absolute;
    top: 1%;
    width: 130px;
    height: 10px;
    background: conic-gradient(from 0deg, #0c59ff, #0c59ff, #0051ff, #0c59ff  );
    box-shadow: 0px 0px 5px 2px rgb(19, 23, 255), 0px 0px 25px -3px rgb(8, 8, 252), 0px 0px 45px 1px rgb(0, 0, 255);
    animation: rotate 5s linear infinite;
    z-index: 1; 
    border-radius: 55px;
  }


  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*media queries here*/


@media (min-width: 475px){
    .main-container {
        max-width: 475px;
    }
}
@media (min-width: 640px){
  .main-container {
        max-width: 640px;
    }
}
@media (min-width: 786px){
  .main-container{
        max-width: 786px;
    }
}
@media (min-width: 1024px){
  .main-container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px){
  .main-container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px){
  .main-container{
        max-width: 1536x;
    }
}