*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
    background-color: rgb(19, 19, 19);
    padding: 20;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Mono', sans-serif;

}
body::-webkit-scrollbar{
    overflow: hidden;
}
section{
  position: relative;
  margin: 5%;
  font-size: 12px;
}
a{
  text-decoration: none;
  font-size: 0.8em;
  color: rgb(107, 107, 107);
  z-index: 5;
}
a:hover{
  filter: drop-shadow(0px 0px 5px rgb(3, 95, 255));
  color: white;
}
.main-container{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container-for-cat{
  height: 40%;
  width: 40%;
  /*border: solid 1px white;  */
  position: relative;
}

.name-section-container{
  position: absolute;
  top: 25%;
  left: 23%;
  /*border: white 1px solid;*/
  width: 40%;
  height: 20%;
  display: flex;
  font-size: 1vw;
  align-items: flex-start;
}

.name-container{
  position: relative;
  width: 100%;
  height: 55%;
  /*border: solid 1px rgb(76, 60, 255);*/
  display: flex;
  flex-direction: column;
  font-size: 1.7em;
}

.jj{  
  color: rgb(203, 203, 203);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.jj:hover{
  filter: drop-shadow(0px 0px 5px rgb(8, 103, 255));
}

.account-container{
  position: absolute;
  width: 80%;
  height: 15%;
  /*zborder: solid 1px red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 60%;
  z-index: 30;
}

.container-of-windmill{
  position: relative;
  height: 100%;
  width: 100%;
}

.windmill-section{  
  position: absolute;
  height: 40%;
  width: 90%;
  top:30%;
  left: 0%;
}

.line1{
  border: solid 1px white;
  position: absolute;
  width: 80%;
  top: 100%;
}

.line2{
  border: solid 1px white;
  position: absolute;
  left: 81%;
  width: 20%;
  top: 100%;
}

.glowing-border {
    width: 0.8%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 80%;
    border: solid 1px white;
    border-width: 1px 1px 0px 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
  }
  
  .glowing-border::before {
    content: '';
    position: absolute;
    top: 1%;
    width: 130px;
    height: 10px;
    background: conic-gradient(from 0deg, #0c59ff, #0c59ff, #0051ff, #0c59ff  );
    box-shadow: 0px 0px 5px 2px rgb(19, 23, 255), 0px 0px 25px -3px rgb(8, 8, 252), 0px 0px 45px 1px rgb(0, 0, 255);
    animation: rotate 5s linear infinite;
    z-index: 1; 
    border-radius: 55px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/*---------------------------project list---------------------------------*/
.project-section{
  /*border: white 1px solid;*/
  position: absolute;
  top: 10%;
  left: 1%;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 1vw;
}

.project-container{
  height: 100%;
  width: 80%;
  display: flex;
  /*border: solid 1px white;*/
  flex-direction: column;
  align-items: center;
}


.project-container a{
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container a:hover{
    color: black;
    filter: none;
}

.project1, .project2, .project3, .project4, .project5{
  width: 100%;
  height: 15%;
  /*border: solid 1px white;*/
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 20;
  font-size: 0.8em;
}

.project1:hover, 
.project2:hover, 
.project3:hover, 
.project4:hover, 
.project5:hover{
  height: 16%;
  width: 105%;
  color: #000000;
  border-radius: 25px;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 0px 5px 1px #515151;
} 

/*---------------------------------------welcome section---------------------*/
.welcome-section{
  height: 60%;
  width: 45%;
  /*border: solid 1px white;*/
  position: relative;
  font-size: 1vw;
  top: 8%;
  left: 22%;
  z-index: 25;
  display: flex;
  align-items: center;
}

.container-for-welcome{
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 3.1em;
  letter-spacing: -0.1em;
}

.name-section-container,
.welcome-section {
    transition: opacity 0.5s ease; /* Adjust duration and timing as needed */
    opacity: 1; /* Default visible state */
}

.hidden {
    opacity: 0; /* Hidden state */
    pointer-events: none; /* Prevent interaction when hidden */
}

.welcome-section p {
  position: absolute;
  top: 80%;
  left: 33%;
  font-size: 0.5em;
  color: #727272;
  filter: drop-shadow(0px 0px 5px rgb(80, 80, 80));
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.welcome-section.show p {
  opacity: 1;
  transform: translateY(0);
}

.welcome-section h1 {
  filter: drop-shadow(0px 0px 5px rgb(80, 80, 80));
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.welcome-section.show h1 {
  opacity: 1;
  transform: translateY(0);
}

.cat{
  height: 30%;
  width: 20%;
  visibility: hidden;
  z-index: 26;
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px white;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.cat.show {
  visibility: visible; /* Show the element */
  transform: translateY(0);
}

.cat.hidden {
  visibility: hidden; /* Hide the element */
}


  /*media queries here*/


@media (min-width: 475px){
    .main-container {
        max-width: 475px;
    }
}
@media (min-width: 640px){
  .main-container {
        max-width: 640px;
    }
}
@media (min-width: 786px){
  .main-container{
        max-width: 786px;
    }
}
@media (min-width: 1024px){
  .main-container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px){
  .main-container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px){
  .main-container{
        max-width: 1536x;
    }
}